# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env_name/

# Environment variables
.env

# Logs and output files
*.log
*.csv
*.sqlite3

# IDE or editor-specific files
.idea/
.vscode/
